.marker {

}

.bus {
  background-color: #333;
}

.rail90 {
  background-color: #D11241;
}
.rail100 {
  background-color: #0069AA;
}
.rail190 {
  background-color: #FFC423;
}
.rail200 {
  background-color: #008752;
}
.rail290 {
  background-color: #D25D13;
}
